.servicepricemodal{
    box-shadow: -1px 0px 56px -7px rgba(189,189,189,1);
    padding: 25px;
    border-radius: 15px;

    &__title{
        font-weight: 700;
        font-size: 20px;
    }
    &__field{
        &-container{
            margin: 20px 0px;
            padding: 1px;
        }
        .form-group{
            label{
                font-weight: 500;
            }
        }
    }

    &__btn{
        padding: 8px 20px;
        border-radius: 10px;
        margin: 0 0 0 10px;
        &-container{
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        &-save{
            background-color: #3183CD;
            color: white;
            border: none;
        }

        &-back{
            background-color: white;
            border: none;
            color: #3183CD;
        }
    }

    .space-between{
        display: flex;
        justify-content: space-between;
    }
}