.content-container {
    padding-bottom: 40px;
    background-color: #f8f8f8;
}



// BUTTON //
.buttonContainer {
    margin: 0 155px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bolder;

    .btn-newStyle {
        padding-left: 5em;
        padding-right: 5em;
        border-radius: 10px;
        height: 2.5em;
        color: #1A3E60;
    }

    .DateRangePicker {
        top: 10em;
        z-index: 9999;
        background-color: white;
        position: absolute;
        left: 20em;
    }

    .form-tipe-pekerjaan {
        color: black;
        font-weight: 300;
        border-color: #A7A7A7;
        width: 110%;
    }


    &>*:not(:first-child) {
        margin: 0 20px;
    }

    & button {
        font-weight: 300;
    }

    .btn-nonActive {
        color: #1A3E60;
        background-color: white;
        border: 2px solid #1A3E60;
        font-weight: 700;
    }

    .btn-svg {
        width: 22px;
        margin-top: -5px;
    }

    .btn-primary {
        background-color: white;
        color: black;
        border-color: grey;
    }

    .form-group {
        padding: 0;
        margin-bottom: 0 !important;
        margin: 0 20px;
    }

    button:focus {
        background-color: #3183CD;
        color: white;
    }

}

// JOB LIST //

.hr-medium {
    margin: 35px 0;
    border-width: 2px;
    border-color: #A7A7A7;
}

.job-container {
    margin: 0px 155px;
}





.job-list-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .activejob {
        padding-left: 0vw;
        padding-right: 2vw;
        padding-top: 0vw;

        .activejob__card {
            .card {
                border-radius: 15px;

                .activejob__card__part-time-button {
                    display: inline;
                    position: absolute;
                    top: 2em;
                    right: 2em;
                    opacity: 80%;
                }

                .activejob__card__two-button {
                    display: flex;
                    position: absolute;
                    top: 17em;
                    left: 1em;

                    .activejob__card__first-button {
                        padding-right: 2px;

                        button[type=submit] {
                            background-color: rgba(49, 131, 205, 0.65);
                            border: none;
                        }

                    }

                    .activejob__card__second-button {
                        button[type=submit] {
                            background-color: rgba(132, 44, 201, 0.65);
                            border: none;
                        }
                    }
                }

                .activejob__card__salary {
                    padding-top: 20px;
                    padding-left: 1em;

                    p {
                        color: #2672E4;
                        font-weight: 700;
                        font-size: 15px;
                    }


                }

                .card-body {
                    .card-title {
                        font-size: 2em;
                        font-weight: 700;
                    }

                    .card-text {
                        color: grey;
                    }
                }

                .activejob__location-and-time {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 20px;

                    .activejob__location {
                        padding-left: 1.5em;
                        padding-right: 1.5em;
                        font-size: 0.8em;
                        color: grey;
                    }
                }

                .carousel-indicators li {
                    display: none;
                }
            }
        }
    }
}

.job-header {
    color: black;
    margin-bottom: 40px;
}