.similiar-job{
    padding-left: 6.5vw;
    padding-right: 6.5vw;
    padding-bottom: 8vw;

    h5{
        font-weight: bolder;
        margin: 40px 0;
        padding: 0 5vw;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        & > * {
            margin: 0 0 1.5vw 5vw;
        }
    }
}