.form-input {
	margin-bottom: 1em;

	input {
		width: 15em;
		border-radius: 5px;
	}
	button[type=submit] {
		color: white;
		width: 20em;
		padding: 0.2em;
		font-size: 12px;
		height: 3em;
		border: none;
		font-weight: 700;
		img {
			width: 1.5em;
			position: absolute;
			left: 3.5em;
			opacity: 100%;
		}
	}
}
