.homepage__section {

    .homepage {
        display: flex;
        font-family: 'Montserrat';
        color: #1A3E60;


    }

    .content-after-header__section {
        font-family: 'Montserrat';
        color: #1A3E60;
        padding-top: 8em;
        padding-left: 2em;
        padding-bottom: 5em;
    }
}