.ordercard{
    background-color: white;
    width: 50vw;
    border-radius: 1em;
    box-shadow: -1px 0px 56px -7px rgba(189,189,189,1);
    padding-bottom: 20px;

    &__status{
        display: flex;
        justify-content: flex-end;

        h5{
            background-color: #C8D1D9;
            border-radius: 0 1em 0 0;
            padding: .5em 1em .5em 1em;
            font-size: 16px;
            color:#1A3E60;
            font-weight: 700;
        }
    }

    &__desc{
        padding: 0 3em;
        display: flex;
        justify-content: space-around;
        &-img{
            width: 300px;
            height: 200px;
            border-radius: 1em;
        }

        &-detail{
            padding: 20px 10px 20px 30px;

            &--title{
                font-weight: 400;
                font-size: 18px;
            }

            &--salary{
                color: #3183CD;
                font-weight: 500;
            }

            &--description{
                color:#808080;
                font-size: 14px;
            }


            &-footer{
                display: flex;
                justify-content: space-between;
                &--rating{
                    display: flex;
                    &-star{
                        width:13.23px;
                        height: 12.64px;
                        margin: auto 0;
                    }

                    &-text{
                        justify-self: center;
                        margin: auto 0;
                    }
                }

                .btn{
                    color: #1A3E60;
                    border-radius: .8em;
                    padding: 0px 6px;  
                    font-size: 13px;
                    height: 30px;
                    &-logo{
                        margin: -8px;
                        margin-top: -10px;
                        width: 30px;
                        height: 30px;
                    }
                
                    &-outline-info{
                        border-color: #1A3E60;
                        color: #1A3E60;
                    }
                }
            }
        }
    }

    &__cancel-link{
        padding: 0 3em;
        color: #1A3E60;

        
    }
}